html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #07010b;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings {
    display: block;
    width: 300px;
    border: 2px solid gray;
    padding: 2% 0;
}

.settings button {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    width: 80%;
    background-color: black;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 6px;
    display: block;
    margin: 0 auto 10px;
}

.settings button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.settings button:active {
    color: rgb(26, 26, 26);
    background-color: gray;
    border-color: black;
}

.container {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid gray;
    display: grid;
}

.square {
    border: 1px solid gray;
    box-sizing: inherit;
}